@import url(../icons/_icons-variables);
.badge {
  display: inline-block;
  height: 28px;
  border-radius: 4px;
  border: solid 1px #e6ecf2;
  padding: 0 10px;
  font-size: 13px;
  line-height: 26px;
  color: @dark;
  vertical-align: middle;
  &::before {
    display: inline-block;
    vertical-align: middle;
    color: @dark;
    margin-right: 6px;
    font-size: 10px;
    font-family: @icomoon-font-family;
  }
  &_sync {
    background: @indigo;
    color: #fff;
    border-color: @indigo;
    &::before {
      content: @icon_check;
      color: #fff;
      font-weight: bold;
    }
  }
  &_checked::before {
    content: @icon_check;
    font-weight: bold;
  }
  &_refresh::before {
    content: @icon_refresh;
    font-size: 16px;
    vertical-align: middle;
  }
}