@import "_icons-variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:
          url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?rekyrt') format('truetype'),
          url('@{icomoon-font-path}/@{icomoon-font-family}.woff?rekyrt') format('woff'),
          url('@{icomoon-font-path}/@{icomoon-font-family}.svg?rekyrt#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_bell {
  &:before {
    content: @icon_bell;
    color: #fff;
  }
}
.icon_check {
  &:before {
    content: @icon_check;
    font-weight: bold;
  }
}
.icon_refresh {
  &:before {
    content: @icon_refresh;
  }
}
.icon_star {
  &:before {
    content: @icon_star;
    color: #cedae6;
  }
}