.actions {
  display: block;
  position: absolute;
  cursor: pointer;

  &__btn {
    width: 4px;
    height: auto;
    display: block;
    position: absolute;
    right: 0;
    font-size: 0;
    line-height: 0;

    &::before, &::after, span {
      content: '';
      display: block;
      position: relative;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: @gray;
      transition: background 0.15s linear;
    }

    span {
      margin: 3px 0;
    }
  }

  &__content {
    display: block;
    position: relative;
    margin-top: 18px;
    transform: translate(20px, 30px);
    opacity: 0;
    transition: all 0.15s ease;
    z-index: -5;
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 17px;
      top: -6px;
      width: 10px;
      height: 10px;
      background: #fff;
      transform: rotate(45deg);
      z-index: 30;
      border-top: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
    }
  }

  &__inner {
    display: block;
    position: relative;
    border: 1px solid #e8e8e8;
    background: #fff;
    border-radius: 4px;
    padding: 15px 20px;
    z-index: 20;
  }

  &__link {
    font-size: 16px;
    line-height: 1.56;
    color: @indigo;
    text-decoration: none;
    transition: opacity 0.15s linear;
    &:hover {
      opacity: 0.8;
    }
  }

  &_disabled {
    cursor: default;
    .actions__btn {
      opacity: 0.4;
      &::before, &::after, span {
        background: #8795a4;
      }
    }
  }

  &:not(.actions_disabled):hover {
    .actions__content {
      z-index: 10;
      opacity: 1;
      transform: translate(20px, 11px);
    }
    .actions__btn {
      &::before, &::after, span {
        background: @indigo;
      }
    }
  }
}