.button {
  height: 28px;
  border-radius: 4px;
  background: @yellow;
  border: 1px solid @yellow;
  transition: opacity 0.15s linear;
  cursor: pointer;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  padding: 0 10px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  .icon {
    line-height: 26px;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 2px;
  }
  &:hover {
    opacity: 0.8;
  }
}