<template>
    <div class="card" :class="className">
        <div class="card__actions actions actions_disabled">
            <div class="actions__btn"><span></span></div>
            <div class="actions__content">
                <div class="actions__inner">
                    <a href="#" class="actions__link">Включить</a>
                </div>
            </div>
        </div>
        <div class="card__header">
            <span class="card__name">{{title}}</span>
            <span class="card__info">&nbsp;&bull;&nbsp;все 30 заведений настроены</span>
        </div>
        <div class="card__content card__badges">
            <div class="badge card__badge badge_sync">Синхронизировано</div>
            <div class="badge card__badge badge_checked">Инфа</div>
            <div class="badge card__badge badge_checked">Прайс</div>
            <div class="badge card__badge badge_checked">Фото</div>
            <div class="badge card__badge badge_checked">Акции</div>
        </div>
        <div class="card__footer">
            <div class="card__rate">
                <div class="card__rate-count"><span class="icon icon_star card__rate-icon"></span><span>{{rating}} из 5</span></div>
                <div class="card__reviews-info">&bull;&nbsp;{{review}} отзывов, {{reply}} неотвеченных</div>
            </div>
            <div class="card__actions-info">
                <span class="card__updates-count">{{update}} обновления</span>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: [ 'title', 'state', 'rating', 'review', 'reply', 'update' ],
    computed: {
      className() {
        const result = {};
        result[`card_state_${this.state}`] = true;
        return result;
      }
    }
  }
</script>

<style lang="less">
    @import url('../assets/less/_variables');
    .card_state {
        &_purple {
            border-left-color: @indigo;
        }
        &_orange {
            border-left-color: @yellow;
        }
        &_gray {
            border-left-color: @gray;
        }
    }
</style>