<template>
    <div id="app" class="container-fluid">
        <div class="container">
            <div class="info-panel">
                <div class="info-panel__item">
                    <div class="info-panel__text-part">
                        <div class="info-panel__count">{{summary.review}}</div>
                        <div class="info-panel__name">отзывов</div>
                    </div>
                    <div class="info-panel__icon"><img src="./assets/images/review.svg" alt=""></div>
                </div>
                <div class="info-panel__item">
                    <div class="info-panel__text-part">
                        <div class="info-panel__count">{{summary.reply}}</div>
                        <div class="info-panel__name">неотвеченный отзыв</div>
                    </div>
                    <div class="info-panel__icon"><img src="./assets/images/review-alert.svg" alt=""></div>
                </div>
                <div class="info-panel__item">
                    <div class="info-panel__text-part">
                        <div class="info-panel__count">{{summary.update}}</div>
                        <div class="info-panel__name">обновлений</div>
                    </div>
                    <div class="info-panel__icon"><img src="./assets/images/refresh.svg" alt=""></div>
                </div>
                <div class="info-panel__item">
                    <div class="info-panel__text-part">
                        <div class="info-panel__count">{{summary.rating}}</div>
                        <div class="info-panel__name">средний рейтинг</div>
                    </div>
                    <div class="info-panel__icon"><img src="./assets/images/star.svg" alt=""></div>
                </div>
            </div>
            <div class="cards">
                <Card v-for="item of jsonData"
                      :key="item.id"
                      :title="item.title"
                      :state="item.state"
                      :rating="item.rating"
                      :review="item.review"
                      :reply="item.reply"
                      :update="item.update"
                />
            </div>
        </div>
    </div>
</template>

<script>

  import Card from './components/Card'

  export default {
    name: 'app',
    components: {
      Card
    },
    async mounted() {
      this.interval = setInterval(() => {
        this.$store.dispatch('updateObject')
      }, await this.$store.dispatch('r', {min: 10, max: 30}) * 1000
    )
    },
    data() {
      return {
        interval: null
      }
    },
    computed: {
      jsonData() {
        return this.$store.getters.jsonData.sort((a, b) => {
          return (this.states.indexOf(a.state) > this.states.indexOf(b.state)) ? 1 : -1
        })
      },
      states() {
        return this.$store.getters.states
      },
      summary() {
        const result = this.jsonData.reduce((res, item) => {
            return {
              review: res.review + item.review,
              reply: res.reply + item.reply,
              update: res.update + item.update,
              rating: res.rating + item.rating
            }
        }, { review: 0, reply: 0, update: 0, rating: 0 });
        result.rating = (result.rating / this.jsonData.length).toFixed(1);
        return result;
      }
    },
    beforeDestroy() {
      clearInterval(this.interval)
    }
  }
</script>

