.card {
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: solid 1px #e6ecf2;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 15px 18px 15px 29px;
  border-left: 4px solid @indigo;
  display: block;
  position: relative;

  &__header {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.56;
    color: #000;
    display: inline-block;
    vertical-align: middle;
  }

  &__info {
    font-size: 13px;
    line-height: 1.54;
    color: @gray;
    display: inline-block;
    vertical-align: middle;
  }

  &__content {
    margin-bottom: 16px;
    font-size: 0;

    .badge {
      margin-right: 10px;
      margin-bottom: 5px;
    }
    @media screen and (max-width: @screen-xs) {
      margin-bottom: 6px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: @screen-xs) {
      flex-wrap: wrap;
    }
  }

  &__rate-count {
    display: inline-block;
    vertical-align: middle;
    color: @yellow;
    font-size: 13px;
    line-height: 1.54;
    font-weight: bold;
  }

  &__rate-icon {
    margin-right: 5px;
    &::before {
      color: @yellow;
      font-size: 14px;
    }
  }

  &__rate {
    display: block;
    position: relative;
    font-size: 0;
    line-height: 0;
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      line-height: 1.54;
    }
    &_no-rate {
      .card__rate-icon::before {
        color: @inactive;
      }
      .card__rate-count {
        color: @gray;
        font-weight: normal;
      }
    }
    @media screen and (max-width: @screen-xs) {
      margin-bottom: 5px;
    }
  }

  &__reviews-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 1.54;
    color: @dark;
    margin-left: 5px;
  }

  &__updates-count {
    font-size: 13px;
    line-height: 1.54;
    color: @indigo;
  }

  &__state-info {
    font-size: 13px;
    line-height: 1.54;
    color: @gray;
  }

  &__actions {
    right: 20px;
    top: 20px;
    max-width: 300px;
  }

  &_state_inactive {
    border-left-color: @inactive;
  }

  &_state_disabled {
    border-left-color: @inactive;
    .card__name {
      color: @gray;
    }
  }
}