.info-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 30px;
  @media screen and (max-width: @screen-xs) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: @screen-xs) and (max-width: @screen-sm) {
    flex-wrap: wrap;
  }
  //@media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
  //  flex-wrap: wrap;
  //}
  &__item {
    margin: 5px 0 5px 5px;
    padding: 0 15px 0 24px;
    width: 260px;
    height: 85px;
    border-radius: 4px;
    background: @indigo;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    @media screen and (max-width: @screen-xs) {
      flex-basis: 100%;
      margin-left: 0;
    }
    @media screen and (min-width: @screen-xs) and (max-width: @screen-sm) {
      flex-basis: 49%;
      margin-left: 0;
    }
  }
  &__count {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: #ffffff;
  }
  &__name {
    font-size: 13px;
    line-height: 1.54;
    margin-top: -3px;
    letter-spacing: normal;
    color: #ffffff;
  }
  &__icon {

  }
}